{
	-fx-show-delay: 50ms;
	-fx-show-duration: 5000ms;
	-fx-hide-delay: 50ms;
	-fx-background-radius: 5 5 5 5;
	-fx-background-color: blue;
	-fx-text-fill: white;
	-fx-font-size: 15px;
	-fx-font-family: 'Verdana';
	-fx-font-weight: bold;
}
